<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="data:,">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;900&display=swap" rel="stylesheet">
    <link href="/css/master.css" rel="stylesheet" type="text/css">
    <link href="/css/dropdown.css" rel="stylesheet" type="text/css">
</head>

<body>

    <div class="dropdown" style="display: none;">
        <!-- Dropdown button -->
        <button id="dropbtn" class="dropbtn"></button>

        <!-- Dropdown content -->
        <div id="dropdown-content" class="dropdown-content">
            <a onclick="UpdateDropdown('Benefits of kidney transplant', true)">Benefits of kidney transplant</a>
            <a onclick="UpdateDropdown('Who can get a kidney transplant', true)">Who can get a kidney transplant</a>
            <a onclick="UpdateDropdown('The transplant work-up', true)">The transplant work-up</a>
            <a onclick="UpdateDropdown('Overview - The waiting list', true)">Overview - The waiting list</a>
            <a onclick="UpdateDropdown('Living donor transplant', true)">Living donor transplant</a>
            <a onclick="UpdateDropdown('Getting a transplant sooner', true)">Getting a transplant sooner</a>
            <a onclick="UpdateDropdown('How long do kidney transplants last', true)">How long do kidney transplants last</a>
            <a onclick="UpdateDropdown('The risks of kidney transplant', true)">The risks of kidney transplant</a>
            <a onclick="UpdateDropdown('Choosing a transplant center', true)">Choosing a transplant center</a>
            <a onclick="UpdateDropdown('Who can be a living kidney donor', true)">Who can be a living kidney donor</a>
            <a onclick="UpdateDropdown('Talking to your doctor', true)">Talking to your doctor</a>
        </div>
        <br>
        <br>
    </div>

</body>
<script src="/scripts/dropdownControls.js"></script>

</html>