<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="data:,">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;900&display=swap" rel="stylesheet">
    <link href="/css/master.css" rel="stylesheet" type="text/css">
    <link href="/css/header.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>

<body>
    <div class="navbar">
        <span id='home-btn' onclick="TakeToHomePage()" class="material-symbols-outlined NKFLogo">home</span>
        <p style="font-weight:900;margin: 0px;color: #F15E22;font-size: 20px;">VIRTUAL <span style="color: navy;">KIDNEY</span> <span style="color: #F15E22;">DOCTOR</span> </p>
        <span id="summary-btn" onclick="TakeToSummaryPage()" class="material-symbols-outlined NKFLogo">cancel</span>
    </div>

</body>

</html>