.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 3px solid navy;
    margin-bottom: 15px;
}



.NKFLogo {
    height: 65px !important;
    right: 15px !important;    
}

/*mobile stuff */
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .navbar-title{
        font-size: 25px;
    }

    .NKFLogo {
        height: 45px !important;
        right: 5px !important;
    }
}

